<!DOCTYPE html>
<html>
<head>
    <title>Circos Test Page</title>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script type="text/javascript" src="/js/main.js"></script>
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>
<body>
    <h1 id="page_title">Circos Image Generator Test Page</h1>
    <div id="error_message"></div>
    <div id="container">
        <form id="image_data_form" action="/" method="POST" enctype="multipart/form-data">
            <div id="left_side">
                <h2>Enter the GID you want to display</h2>
                <label for="gid">GID:</label>
                <input name="gid" id="gid" type="text"/>
                <br><br><hr>
                <h2>Default Data Tracks:</h2>
                <%
                   # Generate checkboxes for each data option
                   fields = ['CDS Forward', 'CDS Reverse', 'RNA Forward',
                             'RNA Reverse', 'Misc Forward', 'Misc Reverse']
                   fields.each do |field|
                       field_name = field.downcase.gsub(/\s/, '_')
                %>
                <input name="<%=field_name%>" id="<%=field_name%>" type="checkbox"/>
                <label for="<%=field_name%>"><%=field%></label>
                <br>
                <% end %>
                <br><hr><br>
                <input name="add_custom_track" id="add_custom_track" type="checkbox" onclick="firstCustomTrack();"/>
                <label for="add_custom_track">Custom Tracks?</label>
                <div id="custom_tracks"><br></div>
                <hr>
                <div>
                    <h2>Image Customization:</h2>
                    <input name="include_outer_track" id="include_outer_track" type="checkbox" checked="checked" />
                    <label for="include_outer_track">Include outer track?</label>
                    <br>
                    <small>This track only makes the starts and ends of each accession clearer</small>
                    <br><br>
                    <label for="image_dimensions">Image Width/Height:</label>
                    <input name="image_dimensions" id="image_dimensions" type="text" placeholder="1000"/>
                    <br>
                    <small>If left empty, default size is 1000 pixels</small>
                    <br><br>
                    <label for="track_width">Track Width (1-10% of plot's radius)</label>
                    <br>
                    <input name="track_width" id="track_width" type="range" min="1" max="10" value="3">
                    <span name="slider_value" id="slider_value">3%</span>
                    <br>
                    <small>The default width is 3% of the plot's radius</small>
                    <p>Your image will use the SVG format by default.</p>
                </div>
                <br>
            </div>
            <div id="right_side">
                <h2>Upload your own data file:</h2>
                <h4>Your file will be used in conjunction with PATRIC's own data for the GID you enter to the left.</h4>
                <label>Upload a file:</label>
                <input name="file_chooser" id="file_chooser" type="file"/>
                <h4>The file should use the following format:</h4>
<pre>
accession_name    strand_start    strand_end
...</pre>
                <h4>For example:</h4>
<pre>
...
AZJI01000001    711302    712414
AZJI01000001    712941    713504
AZJI01000004    713       901
...</pre>
            </div>
        </form>
    </div>
    <div style="text-align: center;">
        <button name="go" id="go">Go</button>
    </div>
    <br><hr><br>
    <div id="circos_result">
    </div>
</body>
</html>
