<!DOCTYPE html>
<html>
<head>
    <title>Circos Test Page</title>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script type="text/javascript" src="/js/main.js"></script>
    <style type="text/css">
        body {
            font-family: Helvetica;
            margin-left: 50px;
            margin-right: 50px;
        }

        h1, h2 {
            font-weight: normal;
        }

        #errorMessage {
            color: red;
        }

        small {
            color: #999;
            font-size: 0.75em;
        }
    </style>
</head>
<body>
    <h1>Circos Image Generator Test Page</h1>
    <div id="errorMessage"></div>
    <div>
        <form id="image_data_form">
            <h2>Enter the GID you want to display</h2>
            <label for="gid">GID:</label>
            <input name="gid" id="gid" type="text"/>
            <br><br><hr>
            <h2>Check off the data that you would like to plot:</h2>
            <%
               # Generate checkboxes for each data option
               fields = ['CDS Forward', 'CDS Reverse', 'RNA Forward',
                         'RNA Reverse', 'Misc Forward', 'Misc Reverse']
               fields.each do |field|
                   field_name = field.downcase.gsub(/\s/, '_')
            %>
            <input name="<%=field_name%>" id="<%=field_name%>" type="checkbox"/>
            <label for="<%=field_name%>"><%=field%></label>
            <br>
            <% end %>
            <br><hr><br>
            <input name="add_custom_track" id="add_custom_track" type="checkbox" onclick="firstCustomTrack();"/>
            <label for="add_custom_track">Custom Tracks?</label>
            <div id="custom_tracks"><br></div>
            <hr>
            <div>
                <h2>Image Customization:</h2>
                <input name="include_outer_track" id="include_outer_track" type="checkbox" checked="checked" />
                <label for="include_outer_track">Include outer track?</label>
                <br>
                <small>(This track only makes the starts and ends of each accession clearer)</small>
                <br><br>
                <label for="image_dimensions">Image Width/Height:</label>
                <input name="image_dimensions" id="image_dimensions" type="text" placeholder="1000px"/>
                <br>
                <small>(If left empty, default size is 1000px)</small>
            </div>
            <br>
            <button name="go" id="go" type="button" onclick="generateImage();">Go</button>
        </form>
    </div>
    <br><hr><br>
    <div id="circos_result">
    </div>
</body>
</html>
